personal-finance/Financial & Accounting/Website Chatbot - 2.json
{
  "name": "Invoice",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"name\": \"Jono\",\n  \"email\": \"jonocatliff@gmail.com\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        0
      ],
      "id": "9d3d4507-bb03-4b8f-9a0c-7fd93fb4729c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/hooks/YSbF1AQMdKi3GOFfqwTQ/webhook-trigger/<Your_URL_Here>",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "webhook_url",
              "value": "={{ $execution.resumeUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "e87bf843-03af-433b-b33f-bbaa84352fd4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "id": "122cbce2-e43b-4a91-aece-a47eb65a4a4c",
      "name": "Wait",
      "webhookId": "c722de89-86b5-40dc-aa25-99f6bda09620"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8940549f-ee2a-4e6a-8d01-88a7049ba7d0",
              "name": "invoice",
              "value": "={{ $json.body.customData.invoice }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        0
      ],
      "id": "9f731a9c-de78-4d59-86ae-8a8c0110a360",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "name": "Jono",
          "email": "jonocatliff@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "141abd7d-9819-45bf-a2a6-e91077fe7ee4",
  "meta": {
    "instanceId": "d2017cc6d1e4b956d269a8123bffa72fb7aaa41ad37a73b7c0fb64c7d0e2edae"
  },
  "id": "B89SA6aiCkyS2xWL",
  "tags": []
}